.app-home-text {
    height: 300px;
    display: flex;
    align-items: center;
    background-color: rgba(56, 89, 139, 0.5);
}

.app-home-text p {
    color: white;
    font-size: 30px;
    width: 50%;
    text-align: left;
    padding: 20px;
}

.app-home-text-second {    
    justify-content: end;
}

.app-home-text-second p{
    text-align: right;
    color: #e7eaf6;

}